{
  "trailingComma": "all",
  "semi": false,
  "tabWidth": 2,
  "useTabs": true,
  "singleQuote": true,
  "endOfLine": "auto",
  "printWidth": 120,
  "TrailingCooma": "none",
  "bracketSpacing": true
}
